<div class="header page-header pt-2">
  <h2>Scooters nearby</h2>
</div>
<div class="container">
  <div class="row pt-4">
    <div class="col-md-12">
      <span>try: lat- 1.2775875, lng- 103.8429406</span>
      <form class="form-group pt-4" [formGroup]="searchScooterForm">
        <div>
          <label>
            Enter number of scooters:
          </label>
          <input type="number" id="no-of-scooters" name="" class="form-control" formControlName="noOfScooters">
        </div>
        <div>
          <label>
            Latitude:
          </label>
          <input type="number" id="latitude" class="form-control" formControlName="latitude">
        </div>
        <div>
          <label>
            Longitude:
          </label> <input type="number" id="longitude" class="form-control" formControlName="longitude">
        </div>
        <div>
          <label>
            Radius (meters):
          </label><input type="number" id="radius-meters" name="" class="form-control" formControlName="radiusMeters">
        </div>
      </form>
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-primary" [disabled]="isSubmitting$ | async" (click)="retrieveScooters()">
            Retrieve
            <i *ngIf="isSubmitting$ | async" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-secondary" (click)="resetForm()">Clear</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-4" *ngIf="noDataFound$|async">
    <div class="col-md-12">
      <h4>No scooters found near specified location</h4>
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-md-12">
      <div #providerMap [ngClass]="(showMap$|async)? 'scooter-map' : '' "></div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>

<div class="">
  Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>